.search-box {
  align-self: center;
  position: relative;
  .field-wrapper {
    background-color: #f1f2f3;
    border-radius: 3px;
  }
  .field-border {
    border-color: #f1f2f3 !important;
  }
  .field-prefix {
    padding-left: 0.85rem;
  }
  .search-input-container {
    position: fixed;
    top: 110px;
    left: auto;
    bottom: 0;
    right: 0px;
    z-index: 100;
    width: 20%;
    .search-input {
      // background-color: #2d2d2d;
      padding: 15px;
      display: flex;
      justify-content: center;
      border-radius: 0 0 0 15px;
      .form-field-container {
        width: 100%;
        position: relative;
        margin-top: 35px;
        .field-prefix{
          position: absolute;
          top: 10px;
          right: 15px;
        }
        input[type="text"]{
          font-size: 16px;
          padding: 12px 15px !important;
        }
      }
      .close-icon {
        position: absolute;
        top: 60px;
        right: 15px;
        font-size: 2rem;
        cursor: pointer;
        color: #000;
        z-index: 99;
      }
    }
  }
}
